@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 100%;
  position: absolute;
  right: 10px;
  cursor: pointer;
  filter: invert(1);
}
